<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h3>Login</h3>
  <div>
    <form method="POST" action="/login">
      <label for="email">Email address</label>
      <input
        type="email"
        name="email"
        placeholder="Enter email"
      />
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        placeholder="Password"
      />
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>  
</body>
</html>